In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('/content/Standard Metropolitan Areas Dataset.csv')

In [ ]:
data.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,1,75.55
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,2,56.03
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,1,41.32
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,2,67.38
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4,80.19

In [ ]:
x=data[['land_area','percent_city','percent_senior','physicians','hospital_beds','graduates','work_force','income','region']] #Keeping independent data's in variable X for training purpose.
y=data['crime_rate'] #Keeping dependent data into Y for testing purpose

In [ ]:
x.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,1
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,2
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,1
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,2
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4

In [ ]:
y.head()

0    75.55
1    56.03
2    41.32
3    67.38
4    80.19
Name: crime_rate, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regression=DecisionTreeRegressor()

In [ ]:
regression.fit(x_train,y_train)

DecisionTreeRegressor()

In [ ]:
prediction=regression.predict(x_test)

In [ ]:
prediction

array([72.25, 63.44, 49.6 , 70.66, 49.6 , 64.91, 40.3 , 44.67, 70.66,
       53.68, 23.32, 45.19, 48.99, 74.94, 51.7 , 38.75, 25.49, 44.64,
       51.69, 80.19])

In [ ]:
regression.score(x,y)

0.8281144817649496

Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
Random_forest=RandomForestRegressor()

In [ ]:
Random_forest.fit(x_train,y_train)

RandomForestRegressor()

In [ ]:
prediction=Random_forest.predict(x_test)

In [ ]:
prediction

array([57.6509, 62.9854, 50.1593, 64.3322, 55.7948, 61.4553, 51.4305,
       52.7498, 65.3383, 53.8076, 38.0139, 44.3001, 41.764 , 57.891 ,
       45.4145, 48.199 , 41.5934, 51.2745, 57.622 , 69.0006])

In [ ]:
Random_forest.score(x,y)

0.7801466958165453