In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data_train=pd.read_csv('/content/training_data.csv')
data_test=pd.read_csv('/content/testing_data.csv')

In [6]:
data_train.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.00,0,0.0,12,354.000000,0.000000,0.018182,0.0,0.0,May,2,7,1,2,New_Visitor,True,0
1,0,0.00,0,0.0,8,764.666667,0.025000,0.043750,0.0,0.0,Nov,3,2,4,10,Returning_Visitor,False,0
2,3,157.40,0,0.0,9,128.500000,0.036364,0.081818,0.0,0.0,Jul,3,2,1,3,Returning_Visitor,True,0
3,3,120.00,0,0.0,5,198.000000,0.000000,0.014286,0.0,0.0,May,3,3,4,2,New_Visitor,True,0
4,4,37.25,1,5.0,50,1295.008333,0.000893,0.015595,0.0,0.0,Nov,3,2,4,2,Returning_Visitor,True,1

In [7]:
data_train.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                      int64
dtype: object

In [8]:
data_test.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend
0,2,19.600000,0,0.0,22,1089.500000,0.000000,0.026087,0.000000,0.0,Oct,2,5,1,3,Returning_Visitor,False
1,0,0.000000,0,0.0,13,646.791667,0.005128,0.054359,0.000000,0.8,May,1,1,2,1,Returning_Visitor,False
2,8,204.107143,0,0.0,15,347.732143,0.000000,0.012281,18.080714,0.0,Nov,1,1,1,2,New_Visitor,False
3,6,189.250000,0,0.0,25,635.491667,0.006667,0.010222,10.580987,0.0,Nov,3,2,3,8,Returning_Visitor,True
4,1,114.000000,1,173.0,36,2542.333333,0.042593,0.059815,33.440556,0.0,May,2,2,7,1,Returning_Visitor,True

In [9]:
#cleaning the train_dataset by changing the categorical values into numerical values
data_train['Month'] = data_train['Month'].replace('Jan', 1)
data_train['Month'] = data_train['Month'].replace('Feb', 2)
data_train['Month'] = data_train['Month'].replace('Mar', 3)
data_train['Month'] = data_train['Month'].replace('Apr', 4)
data_train['Month'] = data_train['Month'].replace('May', 5)
data_train['Month'] = data_train['Month'].replace('June', 6)
data_train['Month'] = data_train['Month'].replace('Jul', 7)
data_train['Month'] = data_train['Month'].replace('Aug', 8)
data_train['Month'] = data_train['Month'].replace('Sep', 9)
data_train['Month'] = data_train['Month'].replace('Oct', 10)
data_train['Month'] = data_train['Month'].replace('Nov', 11)
data_train['Month'] = data_train['Month'].replace('Dec', 12)

In [10]:
data_train['VisitorType'] = data_train['VisitorType'].replace('New_Visitor', 0)
data_train['VisitorType'] = data_train['VisitorType'].replace('Returning_Visitor', 1)
data_train['VisitorType'] = data_train['VisitorType'].replace('Other', 2)

In [11]:
data_train = data_train.replace(True, 1)
data_train = data_train.replace(False, 0)

In [12]:
data_train.head() #train data_set after cleaning

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.00,0,0.0,12,354.000000,0.000000,0.018182,0.0,0.0,5,2,7,1,2,0,1,0
1,0,0.00,0,0.0,8,764.666667,0.025000,0.043750,0.0,0.0,11,3,2,4,10,1,0,0
2,3,157.40,0,0.0,9,128.500000,0.036364,0.081818,0.0,0.0,7,3,2,1,3,1,1,0
3,3,120.00,0,0.0,5,198.000000,0.000000,0.014286,0.0,0.0,5,3,3,4,2,0,1,0
4,4,37.25,1,5.0,50,1295.008333,0.000893,0.015595,0.0,0.0,11,3,2,4,2,1,1,1

In [13]:
#cleaning the test_dataset by changing the categorical values into numerical values
data_test['Month'] = data_test['Month'].replace('Jan', 1)
data_test['Month'] = data_test['Month'].replace('Feb', 2)
data_test['Month'] = data_test['Month'].replace('Mar', 3)
data_test['Month'] = data_test['Month'].replace('Apr', 4)
data_test['Month'] = data_test['Month'].replace('May', 5)
data_test['Month'] = data_test['Month'].replace('June', 6)
data_test['Month'] = data_test['Month'].replace('Jul', 7)
data_test['Month'] = data_test['Month'].replace('Aug', 8)
data_test['Month'] = data_test['Month'].replace('Sep', 9)
data_test['Month'] = data_test['Month'].replace('Oct', 10)
data_test['Month'] = data_test['Month'].replace('Nov', 11)
data_test['Month'] = data_test['Month'].replace('Dec', 12)

In [14]:
data_test['VisitorType'] = data_test['VisitorType'].replace('New_Visitor', 0)
data_test['VisitorType'] = data_test['VisitorType'].replace('Returning_Visitor', 1)
data_test['VisitorType'] = data_test['VisitorType'].replace('Other', 2)
data_test = data_test.replace(True, 1)
data_test = data_test.replace(False, 0)

In [15]:
data_test.head() #test data_set after cleaning

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend
0,2,19.600000,0,0.0,22,1089.500000,0.000000,0.026087,0.000000,0.0,10,2,5,1,3,1,0
1,0,0.000000,0,0.0,13,646.791667,0.005128,0.054359,0.000000,0.8,5,1,1,2,1,1,0
2,8,204.107143,0,0.0,15,347.732143,0.000000,0.012281,18.080714,0.0,11,1,1,1,2,0,0
3,6,189.250000,0,0.0,25,635.491667,0.006667,0.010222,10.580987,0.0,11,3,2,3,8,1,1
4,1,114.000000,1,173.0,36,2542.333333,0.042593,0.059815,33.440556,0.0,5,2,2,7,1,1,1

In [16]:
df1=data_train
df2=data_test

In [19]:
df1.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                        int64
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                  int64
Weekend                      int64
Revenue                      int64
dtype: object

In [ ]:
#splitting the data into independent & dependent category for train_dataset only
x=df1.drop(['Revenue'],axis=1)
y=df1['Revenue']

In [ ]:
#importing model for training & testing of the model
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2) #size=0.2 means using 20% data for testing & rest 80% for training

In [ ]:
#importing DecissionTree Classifier
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier()
tree.fit(x_train,y_train) #using fit() for training

In [ ]:
predictions=tree.predict(x_test) #using tree.predict() for prediction

In [ ]:
#accuracy of decision tree model
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,predictions)
acc=accuracy_score(y_test,predictions)

In [ ]:
print(cm)

In [ ]:
print(acc)

In [ ]:
#importing RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train) #using fit() for training

In [ ]:
prediction=rf.predict(x_test) #using rf.predict() for prediction

In [ ]:
#accuracy of random Forest model
from sklearn.metrics import confusion_matrix,accuracy_score
CM=confusion_matrix(y_test,prediction)
ACC=accuracy_score(y_test,prediction)

In [ ]:
print(CM) #checking the performance of model using comfusion matrix

In [ ]:
print(ACC) #checking the accuracy of the model using accuracy score

In [ ]:
#importing Support Vector Machine model
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)

In [ ]:
svm_predictions=model.predict(x_test) #using knn.predict() for prediction

In [ ]:
#accuracy of svm model
from sklearn.metrics import confusion_matrix,accuracy_score
con=confusion_matrix(y_test,svm_predictions)
acc=accuracy_score(y_test,svm_predictions)

In [ ]:
print(con)

In [ ]:
print(acc)

Prediction using test_dataset

In [ ]:
df2.head() #recalling test_dataset for prediction

In [ ]:
X1_train,X1_test =train_test_split(df2,test_size = 0.1) #traing the test_dataset

In [ ]:
X1_train.shape

In [ ]:
X1_test.shape

Prediction of staisfaction of the passenger using DecisionTreeClassifier.

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dt=DecisionTreeClassifier()
dt.fit(x_train, y_train) #training the test_dataset with train_dataset

In [ ]:
predict_test=dt.predict(X1_test) #predicting whether the revenue generated by the visited cx using test_dataset

In [ ]:
predict_test #THE PREDICTIONS OF REVENUE

Prediction of staisfaction of the passenger using RandomForestClassifier.

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf=RandomForestClassifier()
rf.fit(x_train, y_train) #training the test_dataset with train_dataset

In [ ]:
prediction_test=rf.predict(X1_test) #predicting whether the revenue generated by the visited cx using test_dataset

In [ ]:
prediction_test #THE PREDICTIONS OF REVENUE

Prediction satisfaction of passenger using SVM model.

In [ ]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)

In [ ]:
predict_model=model.predict(X1_test)

In [ ]:
predict_model